.advantages {
  margin-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 82px;
  }
}
