.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: $light-blue;
  color: $white;

  width: 280px;
  height: 58px;

  padding: 0
}
