.button-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 23px;
  height: 23px;
  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #fff;

    transform: rotate(45deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #fff;

    transform: rotate(-45deg);
  }
}
