.contacts-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.contacts-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  &--phone {

    &::before {
      position: absolute;
      content: "";
      top: 31px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--email {

    &::before {
      position: absolute;
      content: "";
      top: 31px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.contacts-list .feedback-form__label {
  padding-left: 22px;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .contacts-list__item {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    flex-direction: row;
  }

  .contacts-list__item {
    flex-direction: row;
    align-items: center;
    width: 50%;

    &--phone::before {
      top: 0;
    }

    &--email::before {
      top: 0;
    }
  }

  .contacts-list .feedback-form__label {
    padding-left: 0;
    padding-right: 16px;
    margin-bottom: 0;
  }

  .contacts-list__item input {
    flex-flow: 1;
  }
}
