.container {
  margin: 0 auto;
  width: 320px;
  background-color: $white;
  box-shadow: 0 0 25px -10px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
  }
}
