.content-header {
  height: 267px;
}

@media (min-width: $tablet-width) {
  .content-header {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .content-header {
    width: 1200px;
  }
}

.content-header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;

  margin: 0;
}

.content-header__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: $light-text;
}
