.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 320px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
  }
}

.copyright__made-by {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}
