.copyright {
  position: relative;
  max-width: 140px;
  padding-left: 6px;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover > .copyright__link--icon {
    fill: $primary-color;
  }

  &:active > .copyright__link--icon {
    fill: #b2b2b2;
  }
}

.copyright__made-by {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-left: 0;
    width: 138px;
  }

  .copyright__made-by {
    width: 100%;
  }
}
