.copyright {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 140px;
}

.copyright__made-by {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  margin: 0;
}

.copyright__link--icon {
  &:hover {
    fill: $primary-color;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: $tablet-width) {
  .copyright__made-by {
    width: 100%;
  }
}
