.feedback-form__label {
  &--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;

    color: $light-text;
  }

  &--radio {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
    border: none;
  }

  &--checkbox {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
    border: none;
  }
}

.feedback-form__input {
  &--text {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
    background-color: $input-color;


    height: 58px;
    border: none;

    &::-webkit-input-placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;

      color: $black;
    }

    &:-moz-placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;

      color: $black;
    }

    &::-moz-placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;

      color: $black;
    }

    &:-ms-input-placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;

      color: $black;
    }
  }
}
