.guest-visited-places {
  height: 409px;
  border: none;
}

@media (min-width: $tablet-width) {
  .guest-visited-places {
    order: 4;
    width: 768px;
  }
}

.guest-visited-places__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}
