.guest-impressions {
  min-height: 290px;
  border: none;
}

@media (min-width: $tablet-width) {
  .guest-impressions {
    order: 1;
    width: 50%;
  }
}

.guest-impressions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}
