.guest-impressions {
  min-height: 271px;
  margin-bottom: 18px;
  width: 100%;
}

.guest-impressions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  width: 100%;
  // text-align: center;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .guest-impressions {
    order: 1;
    width: 50%;
    margin-bottom: 49px;
    position: relative;
    border-right: 3px solid #f2f2f2;
  }

  .guest-impressions__title {
    width: initial;
    font-size: 21px;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .guest-impressions {
    margin-bottom: 48px;
  }

  .guest-impressions__title {
    margin-left: 80px;
    margin-bottom: 57px;
  }
}
