.guest-visited-places {
  height: 392px;
  margin-bottom: 18px;
}

.guest-visited-places__title {
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .guest-visited-places {
    order: 4;
    width: 100%;
  }
}

.guest-visited-places__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}
