.guest-contacts {
  min-height: 268px;
  margin-bottom: 18px;
  width: 100%;
}

.guest-contacts__title {
  text-align: center;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .guest-contacts {
    order: 3;
    width: 100%;
    margin-bottom: 30px;
  }

  .guest-contacts__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 24px;
    position: relative;

    &::before {
      position: absolute;
      top: 12px;
      left: -185px;
      content: "";
      width: 125px;
      height: 2px;
      background-color: #f2f2f2;
    }

    &::after {
      position: absolute;
      top: 12px;
      right: -185px;
      content: "";
      width: 125px;
      height: 2px;
      background-color: #f2f2f2;
    }
  }
}

@media (min-width: $desktop-width) {
  .guest-contacts {
    min-height: initial;
  }

  .guest-contacts__title {
    margin-bottom: 73px;

    &::before {
      width: 280px;
      left: -341px;
    }

    &::after {
      width: 280px;
      right: -341px;
    }
  }
}
