.guest-emotions {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  min-height: 331px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feedback-form .guest-emotions {
  border-bottom: none;
}

.guest-emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.guest-emotions__text {
  padding: 14px 17px;
  margin-bottom: 50px;
  width: 280px;
  height: 161px;
  resize: none;
  background-color: $input-color;
  border: 3px solid transparent;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border: 3px solid #e5e5e5;
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }

  &:-moz-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }

  &::-moz-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }

  &:-ms-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .guest-emotions {
    order: 5;
    width: 100%;
  }

  .guest-emotions__title {
    font-size: 21px;
    position: relative;
    margin-bottom: 57px;

    &::before {
      position: absolute;
      top: 12px;
      left: -200px;
      content: "";
      width: 125px;
      height: 1px;
      background-color: #f2f2f2;
    }

    &::after {
      position: absolute;
      top: 12px;
      right: -200px;
      content: "";
      width: 125px;
      height: 1px;
      background-color: #f2f2f2;
    }
  }

  .guest-emotions__text {
    width: 100%;
    padding: 13px 18px;
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .guest-emotions__title {
    &::before {
      width: 280px;
      left: 0;
    }

    &::after {
      width: 280px;
      right: 0;
    }
  }
}
