.guest-contacts {
  // min-height: 268px;
  margin-bottom: 18px;
  width: 100%;
  // padding-bottom: 17px;
}

.guest-contacts__title {
  text-align: center;
  width: 100%;
  // margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.guest-contacts .feedback-form__input {
  padding-right: 76px;
}

@media (min-width: $tablet-width) {
  .guest-contacts {
    order: 3;
    width: 100%;
    margin-bottom: 13px;
  }

  .guest-contacts__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 25px;
    position: relative;

    &::before {
      position: absolute;
      top: 12px;
      left: -185px;
      content: "";
      width: 125px;
      height: 2px;
      background-color: #f2f2f2;
    }

    &::after {
      position: absolute;
      top: 12px;
      right: -185px;
      content: "";
      width: 125px;
      height: 2px;
      background-color: #f2f2f2;
    }
  }
}

@media (min-width: $desktop-width) {
  .guest-contacts {
    // min-height: initial;
    margin-bottom: 12px;
  }

  .guest-contacts__title {
    margin-bottom: 74px;

    &::before {
      width: 280px;
      left: 0;
    }

    &::after {
      width: 280px;
      right: 0;
    }
  }
}
