.guest-contacts {
  min-height: 287px;
  border: none;
}

@media (min-width: $tablet-width) {
  .guest-contacts {
    order: 3;
    width: 768px;
  }
}

.guest-contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}
