.guest-name {
  min-height: 287px;
  margin-bottom: 19px;
  width: 100%;
}

.guest-name__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .guest-name {
    width: 50%;
    order: 2;
    margin-bottom: 48px;
  }

  .guest-name__title {
    text-align: initial;
    margin-left: 59px;
    margin-bottom: 59px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .guest-name__title {
    margin-left: 81px;
  }
}
