.guest-emotions {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  color: $black;

  height: 331px;

  display: flex;
  flex-direction: column;
}

.guest-emotions__title {
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .guest-emotions {
    order: 5;
    width: 100%;
  }
}

.guest-emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}

.guest-emotions__text {
  padding: 0;
  margin-bottom: 50px;
  width: 280px;
  height: 161px;
  resize: none;

  background-color: $input-color;
  border: none;

  &::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
  }

  &:-moz-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
  }

  &::-moz-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
  }

  &:-ms-input-placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .guest-emotions__text {
    width: 100%;
  }
}
