.guest-name {
  min-height: 287px;
  margin-bottom: 19px;
}

.guest-name__title {
  text-align: center;
  margin-bottom: 22px;
}

.feedback-form__input--text {
  // padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .guest-name {
    width: 50%;
    order: 2;
  }
}

.guest-name__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}
