.hashtag {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  max-width: 320px;
  margin-bottom: 36px;
}

.hashtag__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .hashtag {
    margin: 0;
  }
}
