html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// img[src*="img/text-sedona.svg"] {
//   width: 100%;
// }

// * {
//   outline: 1px dashed red;
// }
