.main-nav {
  position: relative;
}

.main-nav__wrapper {
  position: relative;
  width: 320px;
}

.main-nav__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 4px;
  box-shadow: inset 0 -3px 5px -2px rgba(0, 0, 0, 0.4);
}

.main-nav--opened .main-nav__wrapper {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  display: initial;
  top: 0;
  right: 0;
  z-index: 1;
}

.main-nav__toggle {
  position: absolute;
  top: 14px;
  right: 18px;
  z-index: 2;
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 3px;
  width: 20px;
  height: 3px;
  background-color: $primary-color;
  box-shadow: 0 8px 0 0 $primary-color, 0 16px 0 0 $primary-color;
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  right: 20px;
  z-index: 11;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -5px;
    width: 31px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  top: 17px;
  right: 20px;
  z-index: 11;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -5px;
    width: 31px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav--closed .main-nav__wrapper {
    display: initial;
  }

  .main-nav__wrapper {
    width: 768px;
  }

  .main-nav__wrapper::after {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
