.media .content-header {
  // min-height: initial;
  position: relative;
  margin-bottom: 26px;

  &::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    height: 1px;
    width: 320px;
    background-color: $input-color;
  }
}

.media .content-header__title {
  padding-top: 37px;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .media .content-header__title {
    font-size: 30px;
    margin-bottom: 29px;
    padding-top: 40px;
  }

  .media .content-header {
    margin-bottom: 66px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .media .content-header {
      margin-bottom: 68px;
    }

    .media .content-header__title {
      padding-top: 38px;
      margin-bottom: 29px;
    }
  }
}
