.page-footer {
  min-height: 244px;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 37px;
}

.page-footer__social {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
  }
}
