.page-main form {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .page-main form {
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main form {
    padding: 0 120px;
  }
}
