.page-title {
  position: relative;
  margin: 0;
  max-width: 320px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: bottom, center;
  text-align: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: bottom, center;
  }

  &--index {
    min-height: 390px;
  }

  &--short {
    min-height: 159px;
  }
}

.page-title__image {
  vertical-align: middle;
  margin-top: 91px;
  // height: 211px;
  // width: 280px;
}

.page-title--short .page-title__image {
  margin-top: 52px;
}

@media (min-width: $tablet-width) {
  .page-title {
    max-width: 768px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 768px, cover;
    background-position: bottom, center;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 768px, cover;
      background-position: bottom, center;
    }

    &--index {
      min-height: 520px;
    }

    &--short {
      min-height: 290px;
    }
  }

  .page-title__image {
    width: 461px;
    // height: 348px;
    margin-top: 79px;
  }

  .page-title--short .page-title__image {
    margin-top: 93px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    max-width: 1200px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 1200px, cover;
    background-position: bottom, center;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 1200px, cover;
      background-position: bottom, center;
    }

    &--short {
      min-height: 303px;
    }
  }

  .page-title--short .page-title__image {
    margin-top: 102px;
  }
}
