.page-title {
  position: relative;
  margin: 0;
  max-width: 320px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: bottom, center;
  text-align: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: bottom, center;
  }

  &--index {
    min-height: 390px;
  }

  &--short {
    min-height: 159px;
  }
}

// .page-title__image {
//   vertical-align: middle;
//   margin-top: 91px;
//   // height: 211px;
//   // width: 100%;
// }

// .page-title--short .page-title__image {
//   margin-top: 52px;
// }

.page-title__img--index {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  width: 280px;
  height: 211px;
  margin: 0 auto;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-title__img--min {
  position: absolute;
  width: 232px;
  height: 40px;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


@media (min-width: $tablet-width) {
  .page-title {
    max-width: 768px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 768px, cover;
    background-position: bottom, center;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 768px, cover;
      background-position: bottom, center;
    }

    &--index {
      min-height: 520px;
    }

    &--short {
      min-height: 290px;
    }
  }

  .page-title__img--index {
    top: 77px;
    width: 460px;
    height: 365px;
  }

  .page-title__img--min {
    width: 460px;
    height: 90px;
    top: 95px;
  }

  // .page-title__image {
  //   width: 461px;
  //   // height: 348px;
  //   margin-top: 79px;
  // }

  // .page-title--short .page-title__image {
  //   margin-top: 93px;
  // }
}

@media (min-width: $desktop-width) {
  .page-title {
    max-width: 1200px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 1200px, cover;
    background-position: bottom, center;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 1200px, cover;
      background-position: bottom, center;
    }

    &--short {
      min-height: 303px;
    }
  }

  .page-title__img--index {
    top: 77px;
  }

  .page-title__img--min {
    top: 100px;
  }
}
