.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: $white;
}

@media (min-width: $tablet-width) {
  .page-header--sub {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--sub {
    margin-bottom: 72px;
  }
}
