.photo-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  padding: 22px 20px;
  padding-bottom: 0;
}

.photo-list__item:first-child .likes-counter {
  width: 68px;
}

.photo-list__item:not(:first-child) .likes-counter {
  width: 60px;
}

.photo-list__item:nth-child(3) .likes-counter {
  width: 52px;
}

@media (min-width: $tablet-width) {
  .photo-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

  .photo-list__item:first-child .likes-counter {
    width: 66px;
  }

  .photo-list__item:not(:first-child) .likes-counter {
    width: 66px;
  }

  .photo-list__item:nth-child(3) .likes-counter {
    width: 66px;
  }

  .photo-list__item:not(:first-child) .likes-counter__number {
    margin-right: 10px;
  }

  .photo-list__item:nth-child(3) .likes-counter__number {
    margin-right: 16px;
  }

  .photo-list__item {
    width: 50%;
  }

  .photo-list__item:first-child {
    width: 100%;
  }

  .photo-list__item:first-child .photo {
    height: 480px;
  }

  .photo-list__item:first-child .photo__image {
    height: 400px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    padding: 0;
  }

  .photo-list__item {
    width: 33.3%;
  }

  .photo-list__item:first-child .photo {
    height: 400px;
  }

  .photo-list__item:first-child .photo__image {
    height: 400px;
    width: 100%;
  }
}
