.photo-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  padding: 22px 20px;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .photo-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

  .photo-list__item {
    width: 50%;
  }

  .photo-list__item:first-child {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    padding: 0;
  }

  .photo-list__item {
    width: 33.3%;
  }
}
