.photo__title {
  font-family: $ptsans;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $black;
}

.photo__author {
  font-family: $ptsans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: $grey-text;
}

.photo__likes-counter {
  font-family: $ptsans;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  color: $black;
}
