.player {
  height: 111px;
  width: 280px;
}

.player__scale-block {
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.player__scale {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;
    width: 235px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 58px;
    width: 9px;
    height: 9px;
    background-color: $white;
    border-radius: 50%;
  }
}

.player__button-block {
  display: flex;
  justify-content: space-between;
  height: 66px;
  background-color: $input-color;
}

.player__btn {
  fill: #5c6870;

  &:hover svg {
    fill: #333333;
  }

  &:active svg {
    fill: #b8b8b8;
  }
}

.btn__wrapper {
  display: flex;
  justify-content: space-around;
  width: 115px;
  margin-right: 9px;
}

.player__replay-btn {
  margin-left: 16px;
  border: none;
  background-color: transparent;
}

.player__subtitles-btn {
  border: none;
  background-color: transparent;
}

.player__fullscreen-btn {
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .player {
    height: 93px;
  }

  .player__scale-block {
    width: 648px;
    height: 93px;
    position: relative;
  }

  .player__scale {
    position: relative;

    &::before {
      top: 43px;
      left: 92px;
      width: 389px;
      height: 3px;
    }

    &::after {
      top: 40px;
      left: 206px;
      background-color: $white;
    }
  }

  .player__btn {
    fill: $white;

    &:hover svg {
      fill: #c2c2c2;
    }

    &:active svg {
      fill: #949494;
    }
  }

  .player__button-block {
    width: 648px;
    height: 93px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  .btn__wrapper {
    margin-right: 27px;
  }

  .player__replay-btn {
    margin-left: 26px;
  }
}

@media (min-width: $desktop-width) {
  .player {
    left: 200px;
  }

  .player__scale-block {
    width: 800px;
  }

  .player__button-block {
    width: 800px;
  }

  .player__scale {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 45px;
      left: 92px;
      width: 539px;
      height: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 42px;
      left: 204px;
      width: 9px;
      height: 9px;
      background-color: $white;
      border-radius: 50%;
    }
  }

  .btn__wrapper {
    margin-right: 29px;
  }

  .player__replay-btn {
    margin-left: 25px;
  }
}
