.reason {
  &--blue {
    height: 469px;

    background-color: $light-blue;
    color: $white;
  }
  &--grey {
    height: 167px;

    background-color: $grey;
    color: $black;
  }
}

.reason__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin: 0;
}

.reason__number {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.reason__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
