.search {
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 49px;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 18px;
}

.search__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $light-text;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.search__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .search {
    padding-top: 58px;
    margin-bottom: 59px;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .search__text {
    width: 460px;
    padding: 0;
    margin-bottom: 42px;
  }

  .search__text br {
    display: initial;
  }
}

@media (min-width: $desktop-width) {
  .search {
    margin-bottom: 65px;
  }

  .search__text {
    margin-bottom: 46px;
  }
}
