.search {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 18px;
}

.search__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $light-text;
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.search__text br {
  display: none;
}

.search__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: $primary-color;
  color: $white;
  max-width: 280px;
  padding: 16px 47px;
  border: none;
  text-decoration: none;
  display: block;
  text-align: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.search__button--disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .search {
    padding-top: 55px;
    margin-bottom: 58px;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .search__text {
    width: 460px;
    padding: 0;
    margin-bottom: 42px;
  }

  .search__text br {
    display: initial;
  }

  .search__button {
    max-width: 459px;
    padding: 16px 135px;
  }
}

@media (min-width: $desktop-width) {
  .search {
    padding-top: 54px;
    margin-bottom: 67px;
  }

  .search__text {
    margin-bottom: 46px;
  }

  .search__button {
    max-width: 459px;
  }
}
