.social {
  width: 320px;
}

.social__list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;

  background-color: $primary-color;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    margin: 0;
  }
}
