.social {
  width: 320px;
}

.social__list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: inline-block;
  vertical-align: center;
  width: 100%;
  background-color: $primary-color;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
  }

  &:active .social-link__svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    margin: 0;
  }
}
