.social {
  width: 320px;
}

.social__list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;

  background-color: $primary-color;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  width: 100%;
  height: 100%;

  &--youtube {
    background-image: url("../img/icon-youtube.svg");

  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
    fill: $white;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
    fill: $white;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    margin: 0;
  }
}
