.sub-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .sub-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
