.success-popup {
  height: 324px;
}

.success-popup__title {
  font-family: $ptsans;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}

.success-popup__text {
  font-family: $ptsans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $grey-text;
}
