.video {
  position: relative;
  padding-top: 10px;
  margin-bottom: 103px;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
  margin: 0;
  text-align: center;
  margin-bottom: 26px;
}

.video__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $light-text;
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
  padding-left: 25px;
  padding-right: 24px;
}

.video__content {
  vertical-align: top;
}

.video__player {
  position: absolute;
  bottom: -65px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .video {
    padding-top: 65px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 37px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .video__text {
    padding-left: 104px;
    padding-right: 105px;
    margin-bottom: 74px;
  }

  .video__content {
    width: 648px;
    height: 500px;
  }

  .video__player {
    bottom: 0;
    left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-top: 72px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 84px;
  }

  .video__text {
    padding-left: 187px;
    padding-right: 188px;
    margin-bottom: 71px;
  }

  .video__content {
    width: 800px;
  }
}
