.visited-places-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.visited-places-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 22px;
  height: 58px;
}

.feedback-form__label--checkbox {
  margin-left: 79px;
}

.feedback-form__input--checkbox + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  background-color: #f2f2f2;
  border-radius: 5%;
}

.feedback-form__input--checkbox:checked + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
}

@media (min-width: $tablet-width) {
  .visited-places-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    // width: 480px;
  }

  .visited-places-list__item {
    // width: 230px;
    width: 50%;
  }

  .visited-places-list__item:nth-child(even) {
    // margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .visited-places-list__item {
    flex-direction: row;
    width: 25%;
  }
}
