.visited-places-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.visited-places-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 22px;
  height: 58px;
}

@media (min-width: $tablet-width) {
  .visited-places-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    // width: 516px;
    padding: 0 90px 0 95px;
  }

  .visited-places-list__item {
    // width: 50%;
    // padding-left: 30px;
    margin-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .visited-places-list {
    justify-content: space-between;
    // width: 100%;
    padding: 0;
  }

  .visited-places-list__item {
    flex-direction: row;
    width: 205px;
    margin-bottom: 0;
    height: 50px;
  }

  .visited-places-list__item:first-child label {
    padding-left: 80px;
  }

  .visited-places-list__item:nth-child(2) label {
    padding-left: 89px;
  }

  .visited-places-list__item:nth-child(3) label {
    padding-left: 93px;
  }

  .visited-places-list__item:last-child label {
    padding-left: 78px;
  }
}
