$white: #ffffff;
$black: #000000;

$hover-color: #669ec0;
$primary-color: #81b3d2;
$down-color: #5496bd;

$grey: #eeeeee;
$input-color: #f2f2f2;
$light-text: #333333;

$main-font: "PT Sans", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
